@*
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GiohangPartial</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
<div class="col-lg-3">
    <div class="header__cart">
        <ul>

            <li><a href="@Url.Action("Giohang", "Giohang")"><i class="fa fa-shopping-bag"></i> <span>@ViewBag.TongSoLuong</span></a></li>
        </ul>
        @*<div class="header__cart__price">item: <span>$150.00</span></div>*@
    </div>
</div>