
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:green; text-align:center">XÁC NHẬN ĐƠN HÀNG</h2>
<div style="margin-top:40px;text-align:center;">
    <p style="color:goldenrod;font-weight:bold;font-size:30px;">Đơn hàng đã được xác nhận!</p><br />
    <h2>Cảm ơn bạn đã mua hàng!</h2>
    <h3>Đơn hàng sẽ được chuyển đến bạn trong thời gian sớm nhất!</h3>
</div>
<p style="text-align:center;margin-bottom:100px;">
    <a href="@Url.Action("Index", "Home")" class="primary-btn cart-btn" style="text-align:center">TIẾP TỤC MUA HÀNG</a>
</p>

